p { 
    text-align: center;
    color: aqua;
    font-style: italic;
}
#contenedor {
    
    height: 100%;
    width: 100%;
    background-color: black;
    border-style: groove;
    border-color: firebrick;

}