p { 
    text-align: center;
    color: aqua;
    font-style: italic;
}
#contenedor {
    
    height: 50%;
    width: 50%;
    background-color: black;
    border-style: groove;
    border-color: coral;

}